* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(232, 230, 230);
  border-radius: 10px;
  padding: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
form > div > input {
  height: 40px;
  width: 100%;
  border: none;
  font-size: 16px;
  border: 2px solid rgb(231, 229, 229);
  border-radius: 4px;
  margin-left: 4px;
  color: rgb(128, 131, 136);
}
/* .errorMsg {
  background-color: rebeccapurple;
  position: relative;
  display: flex;
  cursor: pointer;
  top: 100px;
  padding: 10px;
} */
.customInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(231, 229, 229);
  border-radius: 4px;
}
.customInput > input {
  height: 35px;
  width: 100%;
  border: none;
  font-size: 18px;
  outline: white;
}
.customInput > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.customInput > span > img {
  margin-right: 5px;
}
label {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}
img {
  cursor: pointer;
}

::placeholder,
select {
  color: gainsboro;
  padding: 4px;
  font-size: 15px;
  cursor: pointer;
}

form > button {
  background-color: rgb(12, 49, 108);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  margin-top: 100px;
}

form > button:hover {
  color: white;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: flex;
  cursor: pointer;
  background-color: transparent;
}

.tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #949494;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: -125px;
  opacity: 0;
  transition: opacity 0.3s;
  margin-left: 1px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  bottom: -5px;
  transform: rotate(45deg);
  background-color: #949494;
  padding: 5px;
  z-index: 1;
}

.age {
  padding: 10px;
  width: 100%;
  outline: none;
  border: 2px solid rgb(231, 229, 229);
  border-radius: 4px;
}
/* Modal styles */
.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Box shadow */
}

/* Modal close button */
.close {
  color: #aaa;
  font-size: 38px;
  background-color: rgb(38, 97, 207);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  height: 30px;
  width: 20%;
  border: none;
  outline: none;
  margin-top: 100px;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  background-color: black;
}
